:root {
    font-family: Consolas;
    background-color: #150050;
    color: white;
    text-align: center;
}

table {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

table, th, tr, td {
    border: 1px solid #FFF;
    font-size: 15px;
    color: white;
    /-webkit-text-stroke: 1px black
}

th, td {
    padding: 6px;
}

a {
    color: yellow;
}

.tdnick {
    max-width = 20px;
}

.tdcmt {
    min-width: 400px;
}

.tddl a {
    color: magenta;
}

.tddl span {
    display: none;
}

[type=radio], [type=checkbox] { 
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

[type=radio] + img {
    opacity: 35%;
    cursor: pointer;
}

[type=radio]:hover + img {
    opacity: 70%;
    transition: opacity 0.2s;
}

[type=radio]:checked + img {
    opacity: 100%;
    transition: opacity 0.1s;
}

#stgSelect [type=radio] + img {
	border: 2px solid black;
}

#stgSelect [type=radio]:checked + img {
	border: 2px solid #9962ad;
}